<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_name %>
    <%= form.text_field :player_name %>
  </div>

  <div class="field">
    <%= form.label :char_name %>
    <%= form.text_field :char_name %>
  </div>

  <div class="field">
    <%= form.label :platinum %>
    <%= form.text_field :platinum %>
  </div>

  <div class="field">
    <%= form.label :gold %>
    <%= form.text_field :gold %>
  </div>

  <div class="field">
    <%= form.label :silver %>
    <%= form.text_field :silver %>
  </div>

  <div class="field">
    <%= form.label :copper %>
    <%= form.number_field :copper %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
