<p id="notice"><%= notice %></p>

<p>
  <strong>Player name:</strong>
  <%= @user.player_name %>
  <h4>Characters</h4>
  <% find_characters(@user) %>
  <% @characters.each do |character| %>
    <%= link_to character.name, character %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
