<p id="notice"><%= notice %></p>
<div class="window">
	<div>
		<%= @armor.base_armor =%>
		<div class="category">Category: <%= @armor.category =%></div>
	</div>
	<div>
	 <div>AC Bonus: <%= @armor.ac_bonus =%> Shield Bonus:<%= @armor.shield_bonus =%></div>
	</div>
	<div>
		<div>Max Dex: <%= @armor.max_dex_bonus =%> AC Penalty: <%= @armor.armor_check_penalty =%></div>
	</div>
	<div>
		<div>Speed: <%= @armor.speed =%> Weight: <%= @armor.weight =%></div>
	</div>
	<div>Special: <%= @armor.special =%></div>
	<div>
		<%= link_to 'Edit', edit_armor_path(@armor) %> |
		<%= link_to 'Back', armors_path %>
	</div>
</div>
